.about-container
{
  width: 100%;
  margin-bottom: 12%;
}

.about-grid
{
  display: grid;
  grid-template-columns:  40% 60%;
}

.about-title-container {
  padding-top: 105px;

  position: relative;
  font-family: 'Montserrat', sans-serif;

  height: auto;
  h1 {

    font-size: 40px;
    margin: 0;

  }

  h4 {
    margin-bottom: 2%;
  }

  p {
    color: #838794;
  }
}

.about-image-container {
  float: right;
  background-image: url('/../../assets/images/aboutPhoto.png');
  background-size: contain;
background-repeat: no-repeat;
    height: 550px;
}


