@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); //font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Patua+One&display=swap');//  font-family: 'Patua One', cursive;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap'); //font-family: 'Archivo Black', sans-serif;


h1,h2 {
  color: #32343D;
}


section{
  margin-left: 20%;

  @media (max-width: 1700px) {
    margin-left: 10%;
  }

  @media (max-width: 1500px) {
    margin-left: 5%;
  }

  @media (max-width: 1000px) {
    margin-left: 0%;
  }

}


