.header-container {
  max-width: 100%;
  width: 100%;
  padding: 40px 0px 40px 0px;
  display: flex;
  img {
    &:hover {
    }
  }

  nav {
    margin-left: 14%;
    ul {
      list-style-type: none;
      display: flex;
      width: 100%;
      max-width: 1000px;
    }
    li {
      a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        cursor: pointer;
        color: #1f2633;
        text-transform: uppercase;
        letter-spacing: 0.15em;

        display: inline-block;
        padding: 1rem 2rem 1.15rem;

        &:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          background: #ff9900;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #ff9900;
  border-radius: 10px;
}

@media (max-width: 1030px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    .toggle-button {
      display: flex;
      cursor: pointer;
    }
  }

  nav {
    margin-left: 0% !important;
    display: none;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }

  nav.active {
    display: flex;
  }
}
