
.hero-container
{
  width: 100%;
  margin-bottom: 12%;
}

.hero-grid
{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 300px 1000px;
    grid-gap: 1rem;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }


}


.hero-title-container {
  //grid-area: titleArea;
  font-family: 'Patua One', cursive;
  letter-spacing: 3px;
  line-height: 1.8;
  h1 {

    @media screen and (max-width: 1000px)
    {
      text-align:center;
      font-size: 45px;

      br {
        display: none;
      }

    }


   font-size: 50px;

  }
}

.hero-image-container {

 // grid-area: photoArea;
  margin-left: 4.2%;
  background-image: url('/../../assets/images/heroPhoto.png');
  background-size: contain;
background-repeat: no-repeat;
background-position: center center;

@media screen and (max-width: 1000px)
{
height: 200px;
}

}

.socialBarContainer
{

   //grid-area: socialArea;

  @media screen and (max-width: 1000px)
  {
    text-align:center;
  }

a {

  &:not(:first-child) {
    padding:  20px;
}
  color: #ff9900;
}
}


