.hero-container
{
  height: 1000px;
  width: 100%;
}

.hero-main-wrapper
{
  margin-top: 5%;
  width: 100%;
  margin-left: 20%;
  display: flex;
}

.hero-title-container {
  width: 300px;
  padding: 40px;
}

.hero-image-container {
  float: right;
  width: 1000px;
  background-image: url('/../../assets/images/heroPhoto.jpg');
  background-size: contain;
background-repeat: no-repeat;
    height: 500px;
}


