
.service-container {
  margin-bottom: 8%;
}

.services-title {
  width: 100%;
  font-family: 'Montserrat', sans-serif;

  height: auto;
  h1 {

    @media screen and (max-width: 1000px)
    {
      text-align:center;
      font-size: 35px;
      br {
        display: none;
      }

    }

    font-size: 50px;
    margin: 0;

  }

  h4 {
    @media screen and (max-width: 1000px)
    {
      text-align:center;
    }
  }
}


.service-grid {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 5%;
  width: 90%;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.service-item {
  box-shadow: 0 20px 20px rgb(0,0,0,0.2);
  padding: 60px;
  background: none no-repeat scroll 0 0 #FFF;
  width: auto;
  i {
    float: left;
    position: relative;
    bottom: 10px;
    color: #ff9900;
    font-size: 37px;
    padding-right: 20px;
  }

  h2 {
    font-size: 16px;
    margin: 0;

  }

  p {
    color: #838794;
    font-size: 14px;
    margin-left: 58px;
  }

  &:nth-child(n+4) {
    margin-top: 5%;

  }

}

@media screen and (max-width: 800px) {
  .service-container {
    grid-template-columns: 2fr;
  }

  .service-item {
    &:nth-child(n+2) {
      margin-top: 5%;

    }
  }

}

@media screen and (max-width: 500px) {


}
