<div class="about-container">
  <div class="about-main-wrapper">
    <div class="about-title-container">

      <h4 style="color: #ff9900;">Hakkımızda</h4>
      <h1>2016 Yılından Beri Kalitenin Adresi ASD Bilişim</h1>
      <p>
        ASD Bilişim uzun yıllar hizmet verdiği cep telefon teknik servisi,alım satım bilgisayar teknik servis alım satım aksesuar temini ve kurumsal web sitesi kurulumu konularına uzmanlaşmış teknik elemanlarıyla kısa sürede sektörde söz sahibi olmuş ve günümüze kadar gelmiştir. Türkiye ve dünyada gelişen sektöre ayak uydurmak için cep telefonu, bilgisayar, web sitesi kurulumu konularında teknik ekibimizi teknik bilgilerini güncel tutmak ve geliştirmek için yıl içerisinde periyodik aralıklarla eğitime tabi tutulmaktadırlar. Bunu göz önünde bulundurarak firmamızın kuruluşundan itibaren bünyemizde bulunan teknikerleri belli bir olgunluğa erişmiş, aile kavramına önem veren, rahatlıkla bilgi alışverişi yapabileceğiniz, alanında uzmanlaşmış kişilerden oluşmaktadır.
      </p>
    </div>
    <div class="about-image-container">
    </div>
  </div>
</div>
