<div class="hero-container">
  <div class="hero-grid">
    <div class="hero-title-container">

      <h1>Sizi <br> <span style="color: #ff9900;">21. yüzyıla </span> <br>Davet <br>Ediyoruz</h1>

    </div>
    <div class="hero-image-container">
    </div>
    <div class="socialBarContainer">
      <a href="#"  target="_blank">
        <i class="lab la-instagram la-3x"></i>
      </a>
      <a href="#"  target="_blank">
        <i class="lab la-facebook-square la-3x"></i>
      </a>
    </div>
  </div>

</div>
