<div class="hero-container">
  <header-bar></header-bar>
  <div class="hero-main-wrapper">
    <div class="hero-title-container">

      <h1>sizi</h1>
      <h1 style="color: #ff9900;">21. yüzyıla</h1>
      <h1>davet</h1>
      <h1>ediyoruz</h1>

    </div>
    <div class="hero-image-container">
    </div>
  </div>
  <div class="socialBarContainer">
    <a href="#"  target="_blank">
      <i class="lab la-instagram la-3x"></i>
    </a>
    <a href="#"  target="_blank">
      <i class="lab la-facebook-square la-3x"></i>
    </a>
  </div>
</div>
