<div class="footer">
  <div class="footer_menu">
    <div class="list">
      <h2>Çalışma Saatleri</h2>
      <ul class="list-item">
        <li><i class="las la-clock la-2x"></i> <span>Pazartesi-Cumartesi: 9:00 - 22:00</span> </li>
        <li><i class="las la-clock la-2x"></i> <span>Pazar: Kapalı</span> </li>
      </ul>
    </div>
    <div class="list">
      <h2>İletişim</h2>
      <ul class="list-item">
        <li><i class="las la-phone la-2x"></i> <span>(0212) 545 11 00</span> </li>
        <li><i class="las la-envelope la-2x"></i> <span>loremipsum@ipsum.com</span> </li>
        <li><i class="las la-map-marker la-2x"></i> <span>Rami Yeni, Reşadiye Cd. 64/A, 34055 Eyüpsultan/İstanbul</span> </li>
      </ul>
    </div>
    <div class="list">
      <h2>Hizmetlerimiz</h2>
      <ul class="list-item">
        <li><p>Cep Telefonu Teknik Servisi</p></li>
        <li><p>Bilgisayar Teknik Servis Ve Satış</p></li>
        <li><p>Güvenlik Kamerası Hizmetleri</p> </li>
        <li><p>Cep Telefonu Alım Satım</p></li>
        <li><p>Web Sitesi Hizmetleri</p> </li>
        <li><p>Grafik Tasarım</p> </li>
      </ul>
    </div>
    <div class="list">
      <h2>Menü</h2>
      <ul class="list-item">
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">Hizmetlerimiz</a></li>
        <li><a href="#">Bize Ulaşın</a></li>
      </ul>
    </div>
  </div>
  <div class="social_media">
    <ul>
      <li>
        <a href="#"><i class="lab la-instagram la-3x"></i></a>
      </li>
      <li>
        <a href="#"><i class="lab la-facebook-square la-3x"></i></a>
      </li>
    </ul>
    <p>Copyright © Umut Arpat arptumut@gmail.com</p>
    <p>
      Resimler
      <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a>
    </p>
  </div>
</div>
