
    <div class="footer">
        <div class="footer_menu">
           <div class="col_1">
              <div class="title">
                Çalışma Saatleri
              </div>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
           </div>
           <div class="col_2">
             <div class="title">
                İletişim
              </div>
              <ul>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Call Center</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
           </div>
           <div class="col_3">
             <div class="title">
                Hizmetlerimiz
              </div>
              <ul>
                <li><a href="#">Business Consultancy</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Market Analysis</a></li>
                <li><a href="#">Web Development</a></li>
              </ul>
           </div>
           <div class="col_4">
             <div class="title">
                Menü
              </div>
              <ul>
                <li><a href="#">Facilities Services</a></li>
                <li><a href="#">Workplace Staffing</a></li>
                <li><a href="#">Project Management</a></li>
                <li><a href="#">Wordpress Management</a></li>
              </ul>
          </div>
        </div>
        <div class="social_media">
            <ul>
                <li><a  href="#"><i class="lab la-instagram la-3x"></i></a></li>
                <li><a  href="#"><i class="lab la-facebook-square la-3x"></i></a></li>
            </ul>
            <p>Copyright © Umut Arpat arptumut@gmail.com</p>
            <p>Resimler <a href="http://www.freepik.com">Designed by pch.vector / Freepik</a></p>
        </div>
    </div>
