
<div class="contactForm-container">
  <div class="ContactForm-grid">
    <form class="contact-us">
      <h4 style="color: #ff9900;">Bize Ulaşın</h4>
      <h1>Sorunlarınızı Beraber Çözelim</h1>

      <div class="login">
        <input type="text" id="name" placeholder="Ad" class="input">
        <input type="email" id="email" placeholder="E-Posta" class="input">
      </div>
      <div class="subject">
        <input type="text" placeholder="Konu" class="input">
      </div>

      <div class="msg">
        <textarea  class="area" placeholder="Mesaj"></textarea>
      </div>

      <div class="btn">Gönder</div>

    </form>
    <div class="google-map-container">
      <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12035.323945522954!2d28.918426!3d41.050825!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x957b85c3a663f535!2sASD%20Bili%C5%9Fim!5e0!3m2!1str!2str!4v1598532527126!5m2!1str!2str"  width="500" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
    </div>
  </div>
</div>

