<div class="service-container">
  <div class="services-title">
    <h4 style="color: #ff9900;">ASD Bilişim Kalitesi İle</h4>
    <h1>Cihazlarınızı İlk Aldığınız<br>Hale Getiriyoruz</h1>
  </div>
    <div class="service-grid">
      <div class="service-item">
        <div class="services-image-wrapper">
          <i class="las la-tools"></i>
          <h2>CEP TELEFONU TEKNİK SERVİSİ</h2>
        </div>

        <p>Bütün Cep Telefonlarının Tamir Hizmetleri</p>
      </div>

      <div class="service-item">
        <div class="services-image-wrapper">
          <i class="las la-laptop-medical"></i>
          <h2>BİLGİSAYAR TEKNİK SERVİS VE SATIŞ</h2>
        </div>

        <p>Bütün Bilgisayar Modellerinin Alım,Satım Ve Tamir Hizmetleri</p>
      </div>

      <div class="service-item">
        <div class="services-image-wrapper">
          <i class="las la-video"></i>
        <h2>GÜVENLİK KAMERASI HİZMETLERİ</h2>
        </div>

        <p>Firmanızı Güvende Tutmak İçin Yapılan Tüm Güvenlik Çözümleri.</p>
      </div>

      <div class="service-item">
        <div class="services-image-wrapper">
          <i class="las la-mobile"></i>
        <h2>CEP TELEFONU ALIM SATIM</h2>
        </div>

        <p>Tüm Marka,Model Cep Telefonlarının Alım Ve Satım Hizmetleri</p>
      </div>

      <div class="service-item">
        <div class="services-image-wrapper">
          <i class="las la-images"></i>
        <h2>WEB SİTE HİZMETLERİ</h2>
        </div>

        <p>Kurumsal Web Sayfası Tasarım ve Kurulum Hizmetleri</p>
      </div>

      <div class="service-item">
          <i class="las la-paint-brush"></i>
        <h2>GRAFİK TASARIM</h2>
        <p>Firmanıza Uygun Kurumsal Kimlik Çalışmaları,Kartvizit,Katalog ve Tasarımları</p>
      </div>
    </div>

</div>
