
.services {
  text-align: center;
}

.services-title {
  margin-left: 20%;
  width: 50%;
  height: auto;
  font-family: 'Chango', cursive;
  h1 {
    color: #1f2633;
    font-size: 50px;
  }
}

.center {
  max-width: 1200px;
  margin-left: 20%;
  margin-top: 5%;
  overflow: hidden;
  padding: 20px;
}

.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.4s;


  i {
    color: #ff9900;
    font-size: 54px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  p {
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }
}

@media screen and (max-width: 800px) {
  .service {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .service {
    width: 100%;
  }
}
