<div class="services-title">
  <h1>cihazlarınızı ilk aldıgınız <br> hale getiriyoruz</h1>
</div>
<div class="services">
  <div class="center">
    <div class="service">
      <i class="las la-tools"></i>
      <h2>CEP TELEFONU TEKNİK SERVİSİ</h2>
      <p>Bütün cep telefonlarının tamiri onarım ve bakım hizmetleri yapılmaktadır.</p>
    </div>

    <div class="service">
      <i class="las la-laptop-medical"></i>
      <h2>BİLGİSAYAR TEKNİK SERVİS VE SATIŞ</h2>
      <p>Bütün bilgisayar modellerinin alım satım ve tamir hizmetleri</p>
    </div>

    <div class="service">
      <i class="las la-video"></i>
      <h2>GÜVENLİK KAMERASI HİZMETLERİ</h2>
      <p>Firmanızı Güvende Tutmak için yapılan tüm güvenlik çözümleri.</p>
    </div>

    <div class="service">
      <i class="las la-mobile"></i>
      <h2>CEP TELEFONU ALIM SATIM</h2>
      <p>Tüm Marka Model Cep Telefonlarının Alım Satım İşlemleri</p>
    </div>

    <div class="service">
      <i class="las la-images"></i>
      <h2>WEB SİTE HİZMETLERİ</h2>
      <p>Kurumsal Web Sayfası Tasarım ve Kurulum Hizmetleri</p>
    </div>

    <div class="service">
      <i class="las la-paint-brush"></i>
      <h2>GRAFİK TASARIM</h2>
      <p>Firmanıza Uygun Kurumsal Kimlik Çalışmaları,Kartvizit,Katalog ve Tasarımları</p>
    </div>
  </div>
</div>
